<div class="container">
    <main class="form w-100 m-auto">
        <h1 class="h3 mb-3 fw-normal">Inserisci la storia</h1>
        <form class="needs-validation" [formGroup]="aggiungiForm" (ngSubmit)="aggiungiStoria()" novalidate="">
            <div class="input-group">
                <label for="id" class="form-label">id (solo perché manca il back-end)</label>
                <input type="number" class="form-control" id="id" formControlName="id">
            </div>
            <div class="input-group">
                <label for="title" class="form-label">Titolo</label>
                <input type="text" class="form-control" id="title" formControlName="title">
            </div>
            <div class="input-group" style="min-width: 100%;">
                <label for="summary" class="form-label">Sommario</label>
                <textarea id="summary" class="form-control" style="min-width: 100%;" formControlName="summary"></textarea>
            </div>
            <div class="input-group" style="min-width: 100%;">
                <label for="content" class="form-label">Testo</label>
                <textarea id="content" class="form-control" style="min-width: 100%; min-height: 25em;" formControlName="content"></textarea>
            </div>
            <button class="w-100 btn btn-primary btn-lg" type="submit" [disabled]="!aggiungiForm.valid">Conferma aggiunta</button>
        </form>
    </main>
</div>