<div *ngFor="let storia of storie" class="border" style="width: 100%">
    <div class="d-flex">
        <div class="card-body me-auto p-2" style="max-width: 70%;">
            <a (click)="onVaiStoria(storia.id)">
                <div>
                    <b class="p-2">{{ storia.title }}</b><br>
                    <div class="text-break p-2">{{ storia.summary }}</div>
                </div>
            </a>
        </div>
        <div>
            <button class="btn btn-warning btn-sm rounded-o p-1 me-2 mt-3" (click)="onModificaStoria(storia.id)">Modifica</button>
            <button class="btn btn-danger btn-sm rounded-o p-1 me-2 mt-3" (click)="onDeleteStoria(storia.id)">Rimuovi</button>
        </div>
    </div>
</div>
