<div *ngFor="let storia of storie" class="card border-primary border-right-0">
    <div class="card-body">
        <ul class="list-inline m-0">
            <li style="width: calc(100% - 12em);" class="list-group-items">
                <a (click)="onVaiStoria(storia.id)" class="p-2 bd-highlight btn-lg btn-block text-left">
                    <b class="card-title">ID(for debug):</b>{{ storia.id }}<br>
                    <div class="card-text">
                        <b>TITLE: </b>{{ storia.title }}<br>
                        <b>SUMMARY: </b>{{ storia.summary }}
                    </div>
                </a>
            </li>
            <li style="width: 5em;" class="list-group-items">
                <button class="btn btn-warning btn-sm rounded-o" (click)="onModificaStoria(storia.id)">Modifica</button>
            </li>
            <li style="width: 5em;" class="list-group-items">
                <button class="btn btn-danger btn-sm rounded-o" (click)="onDeleteStoria(storia.id)">Rimuovi</button>
            </li>
        </ul>
    </div>
</div>
